
body {
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1.5;
	color: rgb(0, 0, 0);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1 {
	font-size: 64px;
	font-weight: 700;
}

