<header class="header">
    <div class="wrapper container row">

        <a href="#" class="logo">
            logo
        </a>
        <ul class="nav row">
            <li class="item"><a href="#">系列鏡框
                </a>
            </li>
            <li class="item"><a href="#">門市據點
                </a>
            </li>
            <li class="item"><a href="#">部落格
                </a>
            </li>
            <li class="item"><a href="#">常見問題</a>
            </li>
        </ul>

    </div>

</header>