h1.main-title-en {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}

h1.main-title-cn {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}


.tag-list {

    .item-tag {

        li {
            position: relative;
            font-size: 32px;
            font-weight: 500;
            text-align: center;
            padding: 24px 0;
            border-left: 1px solid #DCDCDC;
            border-right: 1px solid #DCDCDC;
            width: 33%;
        }

        @include pad {
            li {
                font-size: 24px
            }
        }

        li:hover:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 8px;
            background-color: #650300;
            top: 100%;
            left: 0;
            transform: translateY(-100%)
        }
    }
}

.product-bn {
    display: flex;
    width: 100%;

    .bn-l {
        background-image: url(../images/product-header-1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 296px;

        @include pad {
            .bn-l {
                background-image: url(../images/product-header-sm-1.png);
            }
        }
    }

    .bn-r {
        background-image: url(../images/product-header-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 296px;
    }

    @include pad {
        .bn-r {
            background-image: url(../images/product-header-sm-2.png);
            background-size: cover;
            background-position: top;
        }
    }
}

// 產品區塊開始
.product-wrap {
    padding: 80px 0;
}


// 產品列開始
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 0;

    .col-3 {
        // width: 25%;
        width: calc(25% - 24px);
        padding-left: 12px;
        padding-right: 12px;
    }

    @include pad {
        .col-md-6 {
            // width: 50%;
            width: calc(50% - 24px);
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    @include mobile-large {
        .col-sm-12 {
            width: 100%;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

}

.product-list-item {

    .text {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 500;

        .price {
            color: #aa0601;
        }

    }

    .color {
        display: flex;

        .color-a {
            background-color: #5F3E2D;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            margin-right: 8px;
        }

        .color-b {
            background-color: #B75929;
            width: 24px;
            height: 24px;
            border-radius: 4px;

        }
    }
}

//切換頁
.pagination{
    margin: 0 auto;
}
.page-number {
    margin-top: 80px;
    justify-content: center;

    li:last-child {
        border-right: 1px solid #555555;
    }

    li {
        border-bottom: 1px solid #555555;
        border-top: 1px solid #555555;
        font-size: 18px;
        color: #555;
        padding: 12px 15px;
        border-left: 1px solid #555555;
    }

    li.active {
        background-color: #000000;
        color: #ffffff;
    }

}