<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>product</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="container">
      <div class="tag-list">
        <div class="item-tag">
          <ul class="row ">
            <li>OPTICAL</li>
            <li>SUNGLASSES</li>
            <li> FUNCTIONAL</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="product-bn">
      <div class="bn-l"></div>
      <div class="bn-r"></div>
    </div>

    <div class="container">
      <div class="product-wrap">
        <h1 class="main-title-en">Celluloid Combi</h1>
        <h1 class="main-title-cn">賽璐珞鈦金屬混合鏡框</h1>

        <div class="product-list row">

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-1.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-2.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-3.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-4.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-5.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-6.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-7.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-8.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-9.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-10.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>

          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-11.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>


          <div class="product-list-item col-3 col-md-6 col-sm-12">
            <img src="../assets/images/product-12.png" alt="">

            <div class="text">
              <div class="name">BJ41600S
              </div>
              <div class="price">NTD3,490</div>
            </div>

            <div class="color">
              <div class="color-a">
              </div>
              <div class="color-b"></div>
            </div>
          </div>





        </div>

       
          <div class="pagination">
            <ul class="row page-number">
              <li>上一頁</li>
              <li class="active">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>下一頁</li>

            </ul>
          </div>
       
      </div>
    </div>



    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>