<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>stores</title>
</head>

<body>
  <%- include('./layout/header'); -%>


    <section class="container stores-block">
      <h1 class="main-title">門市據點</h1>
      <div class="search-bar">
        <label for="area" class="label-title">
          選擇地區
        </label>
        <select name="" id="area" class="select-place">
          <option value="" disabled>選擇地區</option>
          <option value="Taipei City" selected>台北市</option>
          <option value="New Taipei City">新北市</option>
          <option value="Taichung City">台中市</option>
        </select>
      </div>

      <div class="row info-card-list">


        <div class="info-card col-sm-12 col-md-6 col-4 ">

          <div class="card-content">

            <img src="../assets/images/store-1-e8e7cac3.png" alt="">

            <div class="info-card-content">

              <h2 class="info-card-title">台北中山旗艦店</h2>

              <ul class="info-card-item">
                <li><span class="material-symbols-outlined">call</span>
                  <a class="item" href="tel:+886 000-1234">電話：(02)000-1234</a>
                </li>
                <li><span class="material-symbols-outlined">schedule</span>
                  <a class="item" href="#">營業時間：10:00-21:00</a>
                </li>
                <li><span class="material-symbols-outlined ">location_on</span>
                  <a class="item" href="#">地址：台北市中山區南京東路25巷2-1號</a>
                </li>
              </ul>
              <a class="detail-btn" href="#">詳細資料</a>
            </div>

          </div>

        </div>

        <div class="info-card col-sm-12 col-md-6 col-4 ">

          <div class="card-content">

            <img src="../assets/images/store-2-e9ba0027.png" alt="">

            <div class="info-card-content">

              <h2 class="info-card-title">台北中山旗艦店</h2>

              <ul class="info-card-item">
                <li><span class="material-symbols-outlined">call</span>
                  <a class="item" href="tel:+886 000-1234">電話：(02)000-1234</a>
                </li>
                <li><span class="material-symbols-outlined">schedule</span>
                  <a class="item" href="#">營業時間：10:00-21:00</a>
                </li>
                <li><span class="material-symbols-outlined ">location_on</span>
                  <a class="item" href="#">地址：台北市中山區南京東路25巷2-1號</a>
                </li>
              </ul>
              <a class="detail-btn" href="#">詳細資料</a>
            </div>

          </div>

        </div>

        <div class="info-card col-sm-12 col-md-6 col-4 ">

          <div class="card-content">

            <img src="../assets/images/store-3-0f3830b0.png" alt="">

            <div class="info-card-content">

              <h2 class="info-card-title">台北中山旗艦店</h2>

              <ul class="info-card-item">
                <li><span class="material-symbols-outlined">call</span>
                  <a class="item" href="tel:+886 000-1234">電話：(02)000-1234</a>
                </li>
                <li><span class="material-symbols-outlined">schedule</span>
                  <a class="item" href="#">營業時間：10:00-21:00</a>
                </li>
                <li><span class="material-symbols-outlined ">location_on</span>
                  <a class="item" href="#">地址：台北市中山區南京東路25巷2-1號</a>
                </li>
              </ul>
              <a class="detail-btn" href="#">詳細資料</a>
            </div>

          </div>

        </div>

        <div class="info-card col-sm-12 col-md-6 col-4 ">

          <div class="card-content">

            <img src="../assets/images/store-4-64d480b6.png" alt="">

            <div class="info-card-content">

              <h2 class="info-card-title">台北中山旗艦店</h2>

              <ul class="info-card-item">
                <li><span class="material-symbols-outlined">call</span>
                  <a class="item" href="tel:+886 000-1234">電話：(02)000-1234</a>
                </li>
                <li><span class="material-symbols-outlined">schedule</span>
                  <a class="item" href="#">營業時間：10:00-21:00</a>
                </li>
                <li><span class="material-symbols-outlined ">location_on</span>
                  <a class="item" href="#">地址：台北市中山區南京東路25巷2-1號</a>
                </li>
              </ul>
              <a class="detail-btn" href="#">詳細資料</a>
            </div>

          </div>

        </div>

        <div class="info-card col-sm-12 col-md-6 col-4 ">

          <div class="card-content">

            <img src="../assets/images/store-5-6f093e06.png" alt="">

            <div class="info-card-content">

              <h2 class="info-card-title">台北中山旗艦店</h2>

              <ul class="info-card-item">
                <li><span class="material-symbols-outlined">call</span>
                  <a class="item" href="tel:+886 000-1234">電話：(02)000-1234</a>
                </li>
                <li><span class="material-symbols-outlined">schedule</span>
                  <a class="item" href="#">營業時間：10:00-21:00</a>
                </li>
                <li><span class="material-symbols-outlined ">location_on</span>
                  <a class="item" href="#">地址：台北市中山區南京東路25巷2-1號</a>
                </li>
              </ul>
              <a class="detail-btn" href="#">詳細資料</a>
            </div>

          </div>

        </div>











      </div>

    </section>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>